apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Automat==20.2.0
backcall==0.2.0
Beaker==1.11.0
bleach==4.0.0
btrfsutil==5.13
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
cupshelpers==1.0
cycler==0.10.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
deluge==2.0.4.dev56
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
Flask==2.0.1
Flask-Cors==3.0.10
GeoIP==1.3.2
html2text==2020.1.16
html5lib==1.1
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyutils==0.6
kiwisolver==1.3.1
lab==6.4
LibAppArmor==3.0.1
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
louis==3.18.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
more-itertools==8.8.0
msgpack==1.0.2
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
notebook==6.4.0
npyscreen==4.10.5
numpy==1.21.1
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pandas==1.3.1
pandocfilters==1.4.3
parso==0.8.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
ply==3.11
progress==1.5
prometheus-client==0.11.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.9.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyrsistent==0.18.0
pysmbc==1.0.23
python-dateutil==2.8.2
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.0
qtconsole==5.1.1
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
rencode==1.0.6
reportlab==3.5.68
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.7.1
service-identity==21.1.0
setproctitle==1.2.2
simplejson==3.17.3
six==1.16.0
sklearn==0.0
team==1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
toml==0.10.2
tomli==1.1.0
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
txt2tags==3.7
udiskie==2.3.3
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
zope.interface==5.4.0
