<html>
<head>
  <title>Spin Project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" >
  <style>
    .formcontainer{
      border:1px solid #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow:2px 2px 16px 0px rgba(0,0,0,0.5);
    }

    .formcontainer input{
      border-radius: 5px;
      border:none;
      padding:5px 10px;
    }

  </style>
</head>
<body>
<div>
  <!-- Header started -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spin Project Protoype</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
  <!-- Hader ended -->
  <!-- Body started -->
<div class="container py-4 ">
  <form action = "#" method = "post" class="formcontainer">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th >Parameters</th>
        <th >Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>n_rounds: number of rounds conducted </th>
        <td><input type = "number" name = "n_rounds" /></td>
       
      </tr>
      <tr>
        <th  >initial number of players</th>
        <td><input type = "number" name = "n_plr" /></td>
       
      </tr>
      <tr>
        <th>number of players added after each rounds</th>
        <td ><input type = "number" name = "plr_added_r" /></td>
       
      </tr>
      <tr>
        <th >number of players added after each spin</th>
        <td><input type = "number" name = "plr_added_s" /></td>
       
      </tr>
      <tr>
        <th>number of spin per round</th>
        <td ><input type = "number" name = "num_spins" /></td>
       
      </tr>
      <tr>
        <th>number of times stake rewarded to winner</th>
        <td > <input type = "number" name = "rt" /></td>
       
      </tr>
      <tr>
        <th scope="row">Win percentage for each spin</th>
        <td ><input type = "number" name = "chance" /></td>
       
      </tr>
      <tr>
        <th>How much chips are at stake? </th>
        <td><input type = "number" name = "stake" /></td>
       
      </tr>
      <tr>
        <th>default chips offered  </th>
        <td ><input type = "number" name = "freebie" /></td>
       
      </tr>
      <tr>
        <th ></th>
        <td ><input type = "submit" value = "Run Simulator" / class="btn btn-sm btn-primary"></td>
       
      </tr>
    </tbody>
  </table>
</form>
<div class="Container" id="resultBox">

</div>
</div>
  <!-- Body ended -->

  <!-- Footer Started -->
  <footer class=" text-center text-lg-start navbar-light" >
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #e3f2fd;">
      © 2020 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- footer ended -->
</div>

 

</body>
</html>